* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.7;
  color: #333;
  background-color: #eee;
}

.container {
  width: var(--width-lg);
  margin: 0 auto;
}

section {
  padding: 6rem 0;
  overflow: hidden;
}

section h2 {
  text-align: center;
}

img {
  width: 100%;
  /* display: block; */
  /* object-fit: cover; */
}

.btn {
  display: inline-block;
  background: #ce1212;
  color: white;
  padding: 0.5rem 2rem;
  border: 1px solid transparent;
  font-weight: 500;
  border-radius: 1.5rem;
}

/* _root */
:root {
  --width-lg: 1271.9px;
}

/* _navbar */
nav {
  background: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 11;
}

.nav__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__brand {
  font-size: 2rem;
  transition: all 50ms ease;
  text-align: center;
  color: black;
}

.nav__brand span {
  color: red;
}

.nav__btn {
  display: inline-block;
  background: #ce1212;
  color: white;
  padding: 0.2rem 1.3rem;
  border: 1px solid transparent;
  font-weight: 500;
  border-radius: 1.5rem;
  transition: all 100ms ease;
}

.nav__btn:hover {
  box-shadow: 0 0.2rem 1rem rgba(253, 0, 0, 0.2);
}

.nav__btn p {
  font-size: 1rem;
}

nav button {
  display: none;
}

.nav__menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav__menu a {
  color: grey;
  padding: 0 0.2rem 0.5rem;
  font-weight: 500;
}

.nav__menu a:hover {
  color: black;
  border-bottom: 2px solid #ce1212;
}

a:is(:link, :active, :visited).active {
  color: black;
  border-bottom: 2px solid #ce1212;
}

/* _header */
header {
  position: relative;
  top: 5rem;
  height: 70vh;
  margin-bottom: 5rem;
  background: #eee;
  /* max-width: 100%; */
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header h1 {
  font-size: 2.3rem;
  line-height: 1.5;
}

.header__left {
  max-width: 500px;
  height: 50%;
  padding: 0 1rem;
}

.header__left p {
  margin: 1rem 0 2.4rem;
}

.header__left__btn {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__right {
  width: 500px;
  padding: 0 1rem;
}

.header__right img {
  margin: 0 auto;
  width: 500px;
}

.header__btn {
  box-shadow: 0 0.2rem 1rem rgba(253, 0, 0, 0.2);
  transition: all 300ms ease;
}

.header__btn:hover {
  box-shadow: 0 0.2rem 1rem rgba(253, 0, 0, 0.5);
}

.btn-watch-video {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
}

.btn-watch-video i {
  font-size: 2.5rem;
  color: #ce1212;
}

.btn-watch-video p {
  margin: 0;
  font-size: 1rem;
  color: black;
  transition: all 300ms ease;
}

.btn-watch-video:hover p {
  color: #ce1212;
}

/* _about */
.about {
  background: white;
}
.about h2:nth-child(1) {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}

.about p:nth-child(2) {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
}

.about p:nth-child(2) span {
  color: #ce1212;
}

.about__container {
  display: grid;
  grid-template-columns: 60% 40%;
}

.about__left img {
  width: 724px;
}

.about__left {
  position: relative;
}

.about__left .img__info {
  background: white;
  position: absolute;
  bottom: 10%;
  left: 10%;
  width: 550px;
  height: 150px;
  text-align: center;
  padding: 2rem 2rem;
}

.img__info h3 {
  font-size: 1.5rem;
  color: black;
}

.img__info p {
  font-size: 1.7rem;
  color: #ce1212;
  font-weight: 700;
  margin-top: -0.5rem;
}

.about__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1rem;
}

.about__detail p:nth-child(1) {
  margin-bottom: 0.5rem;
  font-style: italic;
}

.about__checklist {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  height: fit-content;
  align-content: flex-start;
}

.about__checklist ul:nth-child(1) {
  align-self: flex-start;
  font-size: 1.4rem;
  color: #ce1212;
}

.about__checklist ul:nth-child(2) li {
  padding: 0.5rem 0 0 0.2rem;
}

.about__detail p:nth-child(3) {
  margin-top: 1rem;
}

/* _cards */
.card__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  gap: 1.3rem;
}

.card1 {
  width: 26rem;
  height: 26rem;
  background: #ce1212;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.card1 h3 {
  color: white;
  font-size: 2.3rem;
  line-height: 1.1;
  margin-bottom: 2rem;
}

.card1 p {
  color: white;
  line-height: 1.5;
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

.card1 a {
  background: #dd5a5a;
  margin: 0 auto;
  transition: all 300ms ease;
}

.card1 a:hover {
  background: white;
  color: #ce1212;
}

.card {
  width: 16rem;
  height: 21rem;
  background: white;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 200ms ease;
}

.card:hover {
  transform: scale(1.1);
}

.card__icon {
  color: #ce1212;
  background: #fae6e6;
  font-size: 2rem;
  height: 4rem;
  width: 4rem;
  text-align: center;
  line-height: 4rem;
  border-radius: 50%;
  margin-bottom: 1.1rem;
}

.card h4 {
  text-align: center;
  margin-bottom: 1.1rem;
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: 500;
}

.card p {
  text-align: center;
  font-size: 0.9rem;
}

/* _stats */
.stats {
  height: 22rem;
  background-image: url(assets/parallax-bg2.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.stats__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 2rem;
}

.stats__counter {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  color: white;
}

.stats__counter h4 {
  text-align: center;
  font-size: 3rem;
}

.stats__counter p {
  text-align: center;
  color: #eee;
}

/* _our-menu */
.our-menu {
  background: white;
}

.our-menu__container > h2 {
  font-size: 1rem;
  font-weight: 300;
}

.our-menu__container > p {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.our-menu__container > p span {
  color: #ce1212;
}

.our-menu__navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.7rem;
}

.our-menu__navbar a {
  padding: 0.7rem 0.3rem;
  border-bottom: 2px solid #b6b6bf;
  transition: border 300ms ease;
  cursor: pointer;
}

.our-menu__navbar a:hover {
  border-bottom: 2px solid #eee;
}

.our-menu__navbar h4 {
  color: #333;
  font-size: 1.2rem;
  font-weight: 400;
  transition: color 300ms ease;
}

.our-menu__navbar h4:hover {
  color: #ce1212;
}

.our-menu__navbar .active {
  border-bottom: 1px solid red;
}

.our-menu__navbar .active h4 {
  color: red;
}

/* #header */

.our-menu__header {
  text-align: center;
  padding: 2rem 0;
}

.our-menu__header p {
  font-size: 1rem;
  font-weight: 300;
}

.our-menu__header h4 {
  font-size: 2.5rem;
  line-height: 1.1;
  color: #ce1212;
}

/* #menu item */

.menu-item__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
}

.menu-item > * {
  text-align: center;
}

.menu-item img {
  padding: 0 4.2rem;
  margin-bottom: 1rem;
  min-width: 423px;
}

.menu-item h4 {
  font-size: 1.4rem;
  margin-bottom: 0.3rem;
}

.menu-item p:nth-child(3) {
  color: #333;
  margin-bottom: 0.3rem;
}

.menu-item p:nth-child(4) {
  color: #ce1212;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

/* #show/hide menu item */
article .menu-list {
  display: none;
}

.menu-list.open {
  display: grid;
}

/* _testimonials */
.testimonials {
  background: #eee;
  overflow-x: hidden;
  position: relative;
  margin-bottom: 5rem;
}

.testimonials > h2 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 300;
}

.testimonials > p {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.testimonials > p span {
  color: #ce1212;
}

.testimonial {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 2rem;
}

.testimonial__content {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding-left: 2rem;
  border-left: 3px solid #ce1212;
}

.testimonial__content p {
  margin-bottom: 1rem;
}

.testimonial__content p::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f10d";
  font: var(--fa-font-solid);
  font-family: Font Awesome 6 Free;
  color: rgb(240, 86, 86);
  font-size: 1.5rem;
  position: relative;
  left: -5px;
}

.testimonial__content p::after {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f10e";
  font: var(--fa-font-solid);
  font-family: Font Awesome 6 Free;
  color: rgb(240, 86, 86);
  font-size: 1.5rem;
  position: relative;
  right: -5px;
  top: 10px;
}

.testimonial__content h4 {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  font-weight: 400;
  color: #858585;
}

.testimonial__avatar {
  width: 200px;
  height: 200px;
}

.testimonial__avatar img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 0.5rem solid white;
}

.stars {
  font-size: 1.1rem;
  color: #ffc107;
}

.stars i {
  text-indent: -3px;
}

/* _events */
.events {
  background: white;
  position: relative;
}
.events > h2 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 300;
}

.events > p {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.events > p span {
  color: #ce1212;
}

.events__container {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.event {
  height: 100%;
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 2rem;
}

.event > * {
  color: white;
}

.event h3 {
  font-size: 1.5rem;
}

.event p:nth-child(2) {
  padding: 0;
  margin-bottom: 1rem;
  border-bottom: 2px solid #ce1212;
  font-size: 2.2rem;
  font-weight: 700;
}

.event1 {
  background-image: url(/assets/parties-1.jpg);
}

.event2 {
  background-image: url(/assets/parties-2.jpg);
}

.event3 {
  background-image: url(/assets/parties-3.jpg);
}

/* _chefs */
.chefs {
  height: 1000px;
  margin-bottom: 5rem;
}

.chefs > h2 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 300;
}

.chefs > p {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.chefs > p span {
  color: #ce1212;
}

.chefs__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  min-width: 1300px;
}

.chef__card {
  height: 600;
  width: 450;
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  transition: transform 300ms ease;
}

.chef__card:hover {
  transform: scale(1.05);
}

.chef__card img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}

.chef__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 2rem;
  margin-bottom: 2rem;
}

.chef__info h4 {
  font-size: 1.5rem;
}

.chef__info span {
  color: #858585;
  font-weight: 300;
}

.chef__info p {
  text-align: center;
  font-size: 0.9rem;
  padding-top: 1rem;
}

/* _booking */
.booking {
  background: white;
}

.booking > h2 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 300;
}

.booking > p {
  text-transform: uppercase;
  text-align: center;
  /* margin-bottom: 2rem; */
  font-size: 2rem;
  padding-bottom: 2rem;
}

.booking > p span {
  color: #ce1212;
}

.booking__container {
  display: flex;
  align-items: center;
  width: 1296px;
  min-height: 500px;
  background: #f7f7f7;
  overflow: hidden;
}

.booking__left {
  width: 100%;
  height: 100%;
}

.booking__bg {
  min-width: 430px;
  min-height: 570px;
  background-image: url(/assets/reservation.jpg);
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
}

.booking__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 100%;
  gap: 1rem;
}

.booking__form form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.booking__form form > * {
  width: 260px;
  height: 50px;
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
}

.booking__form textarea {
  width: 100%;
  min-height: 150px;
  padding: 1rem;
  border: 1px solid #ddd;
  resize: vertical;
  overflow: scroll;
}

.booking__btn {
  padding: 0.9rem 3.5rem;
  cursor: pointer;
}

.booking__btn p {
  font-size: 1rem;
}

/* _gallery */
.galleries {
  height: 500px;
  overflow: hidden;
}

.galleries h2 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 300;
}

.galleries > p {
  text-transform: uppercase;
  text-align: center;
  /* margin-bottom: 2rem; */
  font-size: 2rem;
  padding-bottom: 2rem;
}

.galleries > p span {
  color: #ce1212;
}

.galleries__container {
  display: flex;
  width: 1817px;
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.gallery img {
  width: 243px;
  height: 182px;
}

/* _contact */
.contact {
  background: white;
}

.contact h2 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 300;
}

.contact > p {
  text-transform: uppercase;
  text-align: center;
  /* margin-bottom: 2rem; */
  font-size: 2rem;
  padding-bottom: 2rem;
}

.contact > p span {
  color: #ce1212;
}

.contact__map iframe {
  width: var(--width-lg);
  height: 400px;
}

.contact__detail {
  height: 280px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  justify-content: space-between;
  align-content: flex-end;
}

.contact__info {
  display: flex;
  height: 116px;
  background: #f4f4f4;
  padding: 2rem;
  gap: 1rem;
  align-items: center;
}

.contact__icon {
  width: 60px;
  height: 60px;
  background: #ce1212;
  color: white;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
}

.contact__icon i {
  font-size: 1.5rem;
}

.contact__form {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem 1rem;
  box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.02);
}

.contact__form textarea {
  width: 100%;
  min-height: 150px;
  padding: 1rem;
  border: 1px solid #ddd;
  resize: vertical;
  overflow: scroll;
}

.contact__form input:nth-child(1),
.contact__form input:nth-child(2) {
  min-width: 610px;
  height: 50px;
  border: 1px solid #ddd;
  padding: 0.5rem 1rem;
}

.contact__form input:nth-child(3) {
  width: 100%;
  height: 50px;
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
}

.contact__form textarea {
  min-height: 200px;
  resize: vertical;
}

.contact__form button {
  margin: 1rem auto 0;
  padding: 0.7rem 2rem;
  cursor: pointer;
}

.contact__form button p {
  font-size: 1.1rem;
}

/* _footer */
footer {
  background: #1f1f24;
  color: white;
  padding: 3rem 0;
  min-height: 350px;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
  min-height: 150px;
}

.footer__item {
  display: flex;
  gap: 1rem;
}

.footer__logo {
  display: flex;
}

.footer__logo i {
  align-self: flex-start;
  font-size: 1.6rem;
  line-height: 0;
}

.footer__info h4 {
  margin-bottom: 0.5rem;
}

.footer__info p {
  font-size: 0.9rem;
  color: #b6b6bf;
}

.footer__socials {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.footer__social__links {
  display: flex;
  gap: 0.5rem;
}

.footer__social__links a {
  display: flex;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: #b6b6bf;
}

.footer__social__links a i {
  font-size: 1.2rem;
  margin: auto;
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.footer__copyright p {
  margin: 0 auto;
  font-size: 0.9rem;
  color: #b6b6bf;
}

.footer__copyright p a {
  color: #b6b6bf;
}

/* _Responsive Breakpoints */
/* #tablet */

@media screen and (max-width: 900px) {
  .container {
    width: 90%;
  }

  section {
    padding: 5rem 0;
  }

  /* -navbar */
  .nav__container {
    position: relative;
  }

  nav button {
    display: inline-block;
    background: transparent;
    color: black;
    font-size: 1.8rem;
    cursor: pointer;
  }

  nav button#close-menu-btn {
    display: none;
    z-index: 11;
  }

  .nav__menu {
    position: fixed;
    top: 5rem;
    right: 10%;
    flex-direction: column;
    width: 10rem;
    height: 20rem;
    gap: 0;
    background: transparent;
    display: none;
    position: fixed;
    z-index: 9;
  }

  .nav__menu::before {
    content: "";
    position: fixed;
    height: 100vh;
    width: 350px;
    background: rgba(255, 255, 255, 0.95);
    top: 0;
    right: 0;
    border-left: 1.5px solid #ddd;
    z-index: 9;
  }

  .nav__menu li {
    width: 100%;
    height: 5.5rem;
    z-index: 10;
  }

  .nav__menu li a {
    background: var(--color-primary);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    transition: color 200ms ease;
    color: rgb(131, 131, 131);
  }
  .nav__menu li a:hover {
    color: black;
    border: none;
  }

  .nav__btn {
    position: absolute;
    right: 100px;
    z-index: 1;
  }

  /* -header */
  .header__container {
    flex-direction: column-reverse;
    padding-bottom: 3rem;
    margin-top: 15rem;
    /* background: red; */
  }
  .header__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }

  .header__left > * {
    text-align: center;
  }

  .header__right {
    height: 600px;
    width: 635px;
    /* background-color: green; */
  }

  .header__right img {
    /* background: yellow; */
    width: 600px;
    height: 600px;
  }

  /* -about */
  .about__container {
    display: flex;
    flex-direction: column;
    /* min-width: 800px; */
    justify-content: center;
    align-items: center;
  }

  .about__left {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-width: 800px; */
  }

  .about__left .img__info {
    bottom: 10%;
    padding: 1.5rem 2rem 1rem;
  }

  .about__right {
    justify-content: center;
    align-content: center;
    padding: 2rem 1rem 0;
    /* width: 800px; */
  }

  .about__detail {
    margin-bottom: 2rem;
  }

  /* -cards */
  .card__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card1 {
    width: 696px;
    height: 294px;
    margin-bottom: 1.5rem;
  }

  .card1 p {
    font-size: 1rem;
  }

  .cards {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }

  .card {
    width: 696px;
    height: 268px;
  }

  .card:hover {
    transform: none;
  }

  /* -stats */
  .stats {
    height: 33rem;
  }
  .stats__container {
    grid-template-columns: 1fr 1fr;
  }

  /* -our-menu */
  .menu-item__container {
    grid-template-columns: 1fr;
  }

  /* -testimonial */
  .testimonial {
    flex-direction: column;
  }
  .testimonial__avatar {
    align-self: center;
    width: 400px;
    height: 400px;
  }

  /* -chefs */
  .chefs {
    min-height: 1700px;
    margin-bottom: 0;
  }
  .chefs__container {
    grid-template-columns: 1fr 1fr;
    min-width: 700px;
  }

  /* -booking */

  .booking__container {
    flex-direction: column;
    min-height: 1000px;
    width: 700px;
  }

  .booking__left {
    width: 700px;
    height: 570px;
  }

  .booking__form form {
    grid-template-columns: 1fr 1fr;
  }

  .booking__form input {
    width: 310px;
  }

  /* -contact */
  .contact__container {
    min-width: 700px;
  }
  .contact__map {
    display: flex;
  }

  .contact__map iframe {
    margin: 0 auto;
    min-width: 700px;
  }

  .contact__detail {
    max-width: 770px;
    align-content: center;
    margin: 0 auto;
  }

  .contact__info {
    padding: 1rem;
  }

  .contact__item {
    font-size: 0.9rem;
  }

  .contact__form input {
    width: 100%;
  }

  /* -footer */

  .footer__container {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .footer__item {
    margin: 0 0 2.5rem;
  }
}
